Flask~=1.1.2
gunicorn~=20.0.4
psycopg2-binary~=2.8.5
flask_sqlalchemy~=2.4.3
flask_migrate~=2.5.3
pandas~=1.0.3
requests~=2.24.0
beautifulsoup4~=4.9.1
python-dotenv~=0.13.0
vaderSentiment~=3.3.2
lxml~=4.5.1
